:root .react-slideshow-container .default-nav {
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    font-weight: 600;
    line-height: 100%;
    font-size: 15px;
    font-style: normal;
    border-radius: 15px;
    background: rgba(249, 249, 249, 0.2);
    backdrop-filter: blur(5px);
}
:root .react-slideshow-container .nav:first-of-type {
    top: 50%;
    left: 20px;
}
:root .react-slideshow-container .nav:last-of-type {
    top: 50%;
    right: 20px;
}
:root .active {
    color: unset;
    border-right: unset;
}
.mv {
    position: relative;
    &__left {
        position: fixed;
        width: 235px;
        max-width: 235px;
        height: 100vh;
        padding: 30px 0 0 50px;
        overflow-x: auto;
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
            width: 6px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #000000;
        }
        &--content {
            display: flex;
            flex-direction: column;
            gap: 33px 0;
        }
        &--nav {
            display: flex;
            flex-direction: column;
            gap: 40px 0;
        }
        &--menu,
        &--library,
        &--general {
            p {
                color: $opacity-color;
                font-size: 16px;
                opacity: 0.67;
                padding-bottom: 25px;
            }
            ul {
                display: flex;
                flex-direction: column;
                gap: 16px 0;
                font-size: 18px;
                li a {
                    padding: 5px 0;
                    display: flex;
                    gap: 0 15px;
                }
            }
        }
    }
    &__right {
        margin-left: 236px;
        padding: 0px 55px 30px 55px;
        &--header {
            position: fixed;
            background-color: $bl-color;
            width: 83%;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 30px 100px 30px 20px;
            z-index: 9999;
            // margin-bottom: 51px;
        }
        &--nav {
            ul {
                display: flex;
                align-items: center;
                gap: 0 46px;
                font-size: 24px;
                font-weight: 600;
                li a {
                    padding: 14px 5px;
                    text-transform: capitalize;
                }
            }
        }
        &--search {
            &-item {
                padding: 0 15px;
                width: 500px;
                height: 56px;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                gap: 0 26px;
                color: #aeafb2;
                font-size: 18px;
                border-radius: 12px;
                border: 1px solid rgba(249, 249, 249, 0.1);
                background: #21242d;
                & input {
                    padding: 10px;
                    font-size: 18px;
                    width: 100%;
                    color: #aeafb2;
                    border: none;
                    background: transparent;
                }
            }
        }
        &--slider {
            margin-bottom: 60px;
            margin-top: 40px;
            &-item {
                width: 100%;
                border-radius: 15px;
                position: relative;
                height: 570px;

                & img {
                    opacity: 0.55;
                    border-radius: 15px;
                    object-fit: cover;
                    height: 570px;
                }
                & h1 {
                    position: absolute;
                    top: 40px;
                    left: 40px;
                    color: $text-color;
                    font-size: 48px;
                    font-weight: 600;
                }
                & button:nth-child(4),
                & button:nth-child(5) {
                    position: absolute;
                }
                & button:nth-child(4) {
                    position: absolute;
                    height: 56px;
                    padding: 19px 25px;
                    bottom: 21px;
                    left: 20px;
                }
                & button:nth-child(5) {
                    position: absolute;
                    height: 56px;
                    padding: 19px 47px;
                    bottom: 21px;
                    right: 20px;
                }
            }
            &-detail {
                & ul {
                    display: flex;
                    align-items: center;
                    gap: 0 25px;
                    list-style: unset;
                    font-size: 16px;
                    font-style: italic;
                    position: absolute;
                    top: 105px;
                    left: 45px;
                }
                & ul li:nth-child(1) {
                    list-style: none;
                }
            }
        }
        &--content {
            margin-bottom: 60px;
            display: flex;
            flex-direction: column;
            gap: 60px 0;
            h3 {
                color: $text-color;
                font-size: 30px;
                font-weight: 600;
                padding-bottom: 30px;
            }
        }
        &--movies {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 0 30px;
        }
        &--item {
            position: relative;
            width: 237px;
            height: 298px;
            flex-shrink: 0;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.5s ease;
            &-icPlay {
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 40px;
                z-index: 2;
                transition: 0.5s;
            }
            &-img {
                opacity: 0.5;
                width: 100%;
                border-radius: 20px;
                object-fit: cover;
                height: 298px;
            }
            &-name {
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                white-space: pre-wrap;
                position: absolute;
                top: 21px;
                left: 21px;
                color: $text-color;
                font-size: 22px;
                font-weight: 500;
            }
            &-star {
                position: absolute;
                color: $primary;
                top: 57px;
                left: 21px;
                font-size: 20px;
            }
            &-info {
                position: absolute;
                bottom: 10px;
                width: 100%;
                padding: 10px 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: $text-color;
                font-size: 12px;
            }
            &:hover {
                opacity: 0.7;
            }
            &:hover &-icPlay {
                opacity: 0.8;
            }
        }
    }
}

@media (max-width: 1580px) {
    .mv__right--slider-item h1 {
        top: 20px;
        left: 25px;
        font-size: 30px;
    }
    .mv__right--slider-item button:nth-child(4) {
        height: 39px;
        padding: 11px 11px;
        bottom: 21px;
        left: 20px;
        font-size: 15px;
        border-radius: 10px;
    }
    .mv__right--slider-item button:nth-child(5) {
        position: absolute;
        height: 39px;
        padding: 11px 20px;
        bottom: 21px;
        right: 20px;
        font-size: 15px;
        border-radius: 10px;
    }
    .mv__right--nav ul {
        font-size: 18px;
    }
    .mv__right--item {
        position: relative;
        width: 220px;
        height: 281px;
        flex-shrink: 0;
        border-radius: 20px;
    }
    .mv__right--movies {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px 20px;
    }
    .mv__right--item-btn button:nth-child(1) {
        padding: 10px;
        border-radius: 10px;
        font-weight: 600;
    }
    .mv__right--item-btn button:nth-child(2) {
        width: 150px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 10px;
    }
}
@media (max-width: 1279px) {
    .mv__right--slider-item h1 {
        top: 20px;
        left: 25px;
        font-size: 30px;
    }
    .mv__right--slider-item button:nth-child(4) {
        height: 39px;
        padding: 11px 11px;
        bottom: 21px;
        left: 20px;
        font-size: 15px;
        border-radius: 10px;
    }
    .mv__right--slider-item button:nth-child(5) {
        position: absolute;
        height: 39px;
        padding: 11px 20px;
        bottom: 21px;
        right: 20px;
        font-size: 15px;
        border-radius: 10px;
    }
    .mv__right--nav ul {
        font-size: 18px;
    }
    .mv__right--item {
        position: relative;
        width: 220px;
        height: 281px;
        flex-shrink: 0;
        border-radius: 20px;
    }
    .mv__right--movies {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px 20px;
    }
    .mv__right--item-btn button:nth-child(1) {
        padding: 10px;
        border-radius: 10px;
        font-weight: 600;
    }
    .mv__right--item-btn button:nth-child(2) {
        width: 150px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 10px;
    }
}
@media (max-width: 1024px) {
    .mv__left {
        display: none;
    }
    .mv__right {
        margin: unset;
    }

    .mv__right--item {
        position: relative;
        width: 237px;
        height: 298px;
        flex-shrink: 0;
        border-radius: 20px;
    }
    .mv__right--item-img {
        width: 100%;
    }
    .mv__right--item-name {
        position: absolute;
        top: 21px;
        left: 21px;
        color: #f9f9f9;
        font-size: 24px;
        font-weight: 600;
    }
    .mv__right--item-star {
        position: absolute;
        color: #f8b319;
        top: 57px;
        left: 21px;
        font-size: 20px;
    }
    .mv__right--item-info {
        position: absolute;
        bottom: 81px;
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #aeafb2;
    }
    .mv__right--item-btn {
        position: absolute;
        bottom: 10px;
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 10px;
    }
    .mv__right--item-btn button:nth-child(1) {
        padding: 20px;
        border-radius: 15px;
        font-weight: 600;
    }
    .mv__right--item-btn button:nth-child(2) {
        width: 150px;
        height: 57px;
        flex-shrink: 0;
    }
}
@media (max-width: 800px) {
    .mv__right--header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 51px;
        gap: 40px 0;
    }
    .mv__right--movies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px 20px;
        justify-items: center;
    }
}
